body {
    background-color:#e1e2e1;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}
.mainLogo {
    /*height: 10%;*/
}

.bg-cozmo {
    background-color: #b0261e !important;
}

.bg-anki {
    background-color: #0081c3 !important;
}

.navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
}

.w-15 {
    width: 15% !important;
}

.universityLogo {
    height: 10%;
}

#politoLogo {
    /*height: 110px;*/
}

.disabled {
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}
#cozmoImageId {
    /*border: 5px solid whitesmoke;*/
    /*border-radius: 0px 50px 50px 50px;*/
    /*text-align: center;*/
}
.card-body {
    text-align: center;
}

.keyboard{
    width: 25%;
}

#w, #r{
    margin-left: -25px;
}
#enter, #alt{
    height: auto;
    width: 40%;
}
#backspace, #shift{
    height: auto;
    width: 60%;
}